<form>
  <p class="hint">Controls how much roll information is shown to non-owners. GM always sees everything.</p>

  {{#each groups}}
  <h3 class="form-header">{{this.label}}</h3>

  <div class="form-group">
    <label>No Permission</label>
    <div class="form-fields">
      <select name="{{this.key}}.none">
        <option value="nothing"    {{#if (eq this.none    "nothing")}}selected{{/if}}>Show All</option>
        <option value="hideBonus"  {{#if (eq this.none    "hideBonus")}}selected{{/if}}>Hide Bonus</option>
        <option value="hideRoll"   {{#if (eq this.none    "hideRoll")}}selected{{/if}}>Hide Roll</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label>Observer</label>
    <div class="form-fields">
      <select name="{{this.key}}.observer">
        <option value="nothing"    {{#if (eq this.observer "nothing")}}selected{{/if}}>Show All</option>
        <option value="hideBonus"  {{#if (eq this.observer "hideBonus")}}selected{{/if}}>Hide Bonus</option>
        <option value="hideRoll"   {{#if (eq this.observer "hideRoll")}}selected{{/if}}>Hide Roll</option>
      </select>
    </div>
  </div>
  {{/each}}

  <footer class="sheet-footer">
    <button type="button" data-action="save"><i class="fa-solid fa-save"></i> Save</button>
  </footer>
</form>
