<form class="pf1e-util-script-call-editor">
  <section class="form-content" data-tooltip-class="pf1-v2">
    <header>
      <input name="name" type="text" value="{{entry.name}}" placeholder="Name">
    </header>

    <div class="command">
      <label>Command</label>
      <textarea name="command" spellcheck="false">{{entry.script}}</textarea>
    </div>
  </section>

  <footer class="sc-editor-footer">
    <button type="button" data-action="save"><i class="fa-solid fa-floppy-disk"></i> Save</button>
  </footer>
</form>
